body{
  margin: 0px;
}

#page1{
  background-image: url(purpsky.jpg);
  background-size: cover;
  height:100%;
}

.enter{
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 40%;
}

#page2{
  height: 100%;
  background: radial-gradient(circle, #000066,#000019);
  font-family: 'Montserrat', sans-serif;
  font-variant: small-caps;
  font-style:300;
  font-size: 40px;
  color: white;
  text-align: center;
}

.row{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  align-items: center;
  margin: 20px;
}

.hidden{
  display: none;
}
.header{
  padding-top: 50px;
}

.button{
  padding: 25px 45px;
  border-width: 10px;
  text-align: center;
  border-style: double;
  border-color: white;
  width: 105px;
  margin: 0px auto;
  font-family:sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  transition: 0.5s;
}

.button:hover {
    background-color:#ffffff;
    color: white;
    opacity: 0.6;
  }
